/* CSS file for Clone site */

/* ID Setups */

#topBar {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    box-sizing: border-box;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#govUK {
    color: white;
    font-size: 25px;
    font-weight: bold;
}


#UCLink {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* Class Setups */

.divbox1{
    border-color: red;
    border-width: 5px;
    border-style: dotted;
}

.divbox2{
    border-color: blue;
    border-width: 5px;
    border-style: dotted;
}

.divbox3{
    border-color: orange;
    border-width: 5px;
    border-style: dotted;
}

.divbox4{
    border-color: purple;
    border-width: 5px;
    border-style: dotted;
}

.divbox5{
    border-color: green;
    border-width: 5px;
    border-style: dotted;
}

.stayWhiteLink:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}
