/* CSS file for Clone site */

/* ID Setups */

#topBar {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#govUK {
    color: white;
    font-size: 25px;
    font-weight: bold;
}


#UCLink {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* Class Setups */

.

a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}
