/* CSS file for Clone site */

/* ID Setups */

#topBar {
    /* border-color: yellow;
    border-width: 5px;
    border-style: dotted; */
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px 100px 0px; /* top, right+left, bottom*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#govUK {
    color: white;
    font-size: 25px;
    font-weight: bold;
}


#UCLink {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* #uname {
    size: 50px
}

#pass {
    size: 50px
} */

/* Class Setups */


.blueBar{
    /* border-color: blue; */
    /* border-width: 5px;
    border-style: dotted; */
    box-sizing: border-box;
    background-color: rgb(11, 95, 163);
    background-clip: content-box;
    padding: 0px 100px 0px; /* top, right+left, bottom*/
    font-size: x-small;
}

.betaBox{
    /* border-color: red; */
    /* border-width: 5px;
    border-style: dotted; */
    box-sizing: border-box;
    padding: 0px 100px 0px; /* top, right+left, bottom*/
}

.betaHighlight {
    background-color: rgb(11, 95, 163);
    color: white;
}

.signIn{
    /* border-color: blue;
    border-width: 5px;
    border-style: dotted; */
    box-sizing: border-box;
    padding: 0px 100px 0px; /* top, right+left, bottom*/
}

.formBox{
    /* border-color: orange;
    border-width: 5px;
    border-style: dotted; */
    font-size: 22px;
    box-sizing: border-box;
    padding: 0px 100px 0px; /* top, right+left, bottom*/
}

.ifYou{
    /* border-color: purple;
    border-width: 5px;
    border-style: dotted; */
    box-sizing: border-box;
    padding: 0px 100px 0px; /* top, right+left, bottom*/
}

.combinedFooter{
    /* border-color: green;
    border-width: 5px;
    border-style: dotted; */
    box-sizing: border-box;
    padding: 200px 100px 50px; /* top, right+left, bottom*/
    background-color: rgb(222, 224, 226);
    display: flex;
    justify-content: space-around;
}

.footerLinks {
    /* border-color: red;
    border-width: 5px;
    border-style: dotted; */
    box-sizing: border-box;
    border-right: -100px;
}

.crownCrest{
    /* border-color: blue; */
    border-width: 5px;
    /* border-style: dotted; */
}



.noUnderline {
    text-decoration: none;
}

.stayWhiteLink:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
}

.stayWhiteLink:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
}

.buttonStyle {
    background-color: rgb(13, 130, 61);
    color: white;
    font-size: 16px;
    padding: 10px 18px;
    margin: 4px 2px
}

.buttonStyle:hover {
    background-color: rgb(8, 105, 49); /* Hightlighted */
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 45px;
}
